<div style="width: 200px;">
    <h2 md-dialog-title>{{title}}</h2>
  <md-input-container floatPlaceholder="auto">
    <input mdInput type="text" placeholder="First name" [(ngModel)]="contact.firstName">
  </md-input-container>
  <md-input-container floatPlaceholder="auto">
    <input mdInput id="lastName"  type="text" placeholder="Last name" [(ngModel)]="contact.lastName">
  </md-input-container>
  <md-input-container floatPlaceholder="auto">
    <input mdInput id="phone"  type="text" placeholder="Phone" [(ngModel)]="contact.phone">
  </md-input-container>
  <md-input-container floatPlaceholder="auto">
    <input mdInput id="streetAddress"  type="text" placeholder="Street address" [(ngModel)]="contact.streetAddress">
  </md-input-container>
  <md-input-container floatPlaceholder="auto">
    <input mdInput id="city"  type="text" placeholder="City" [(ngModel)]="contact.city">
  </md-input-container>
  <br/><br/>
  <div align="center">
    <button md-button md-dialog-close appVibration>Cancel</button>
    <button md-button  (click)="addContact()" *ngIf="!update" appVibration>Add</button>
    <button md-button  (click)="updateContact()" *ngIf="update" appVibration>Save</button>
  </div>
</div>
