@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('assets/fonts/material-icons.woff2') format('woff2');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html, body{
  background-color: lightgray;
  font-family: Arial, serif;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  height: 60px;
  background-color: #3f51b5;
  color: white;
  z-index: 1;
  padding-left: 10px;
  overflow: hidden;
}

app-contact-list {
  margin-top: 20px;
}

app-root{
  flex: 1;
  flex-direction: column;
}

app-login {
  flex: 1;
}

#addContactButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

