.demo-card-wide.mdl-card {
    width: 384px;
}

.mdl-layout__content {
    padding: 24px;
    flex: none;
}
#contactsTable{
    width: 708px;
}
#users{
    margin-right: 0;
}
label{
    color: #a3a3a3;
}