/**{
    font-family: Arial, serif;
}
label{
    display: block;
    margin-top: 10px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
td, th{
    padding: 4px;
}
#container {
    margin-left: 20px;
}*/
.demo-card-wide.mdl-card {
    width: 384px;
}

.mdl-layout__content {
    padding: 24px;
    flex: none;
}
#contactsTable{
    width: 810px;
}
#users{
    margin-right: 0;
}
label{
    color: #a3a3a3;
}