<div  fxLayout="row" fxLayoutAlign="center center" >
    <br>
    <md-card fxFlex="300px" style="margin-top: 15px">
      <md-card-content>
        <h2>LOGIN</h2>
        <md-input-container floatPlaceholder="auto">
          <input mdInput name="componentProperty" [(ngModel)]="username" type="text" required placeholder="Username">
        </md-input-container>
        <br>
        <md-input-container floatPlaceholder="auto">
          <input mdInput name="componentProperty" [(ngModel)]="password" type="password" required placeholder="Password">
        </md-input-container>
        <br>
        <div *ngIf="error">
          <span style="color: red">{{error}}</span>
        </div>
        <br>
        <md-checkbox name="checkbox" [(ngModel)]="newUser" color="primary">Register new user
        </md-checkbox>
      </md-card-content>
      <md-card-actions align="center">
        <button md-raised-button color="primary" (click)="onLogin(username, password, newUser)" >Login</button>
        <br><br>
      </md-card-actions>
    </md-card>
</div>
