<div  fxLayout="column" fxLayoutAlign="center center" fxFill class="login">
    <br>
    <md-card>
      <md-card-content>
        <h2>Login</h2>
        <md-input-container floatPlaceholder="auto">
          <input mdInput name="componentProperty" [(ngModel)]="username" type="text" required placeholder="Username">
        </md-input-container>
        <br>
        <md-input-container floatPlaceholder="auto">
          <input mdInput name="componentProperty" [(ngModel)]="password" type="password" required placeholder="Password">
        </md-input-container>
      </md-card-content>
      <md-card-actions align="start">
        <button md-button (click)="onAction1">Cancel</button>
        <button md-button (click)="onAction2">Login</button>
      </md-card-actions>
    </md-card>
</div>

