<div  fxLayout="column" fxLayoutAlign="center center" fxFlexFill>
    <br>
    <md-card fxFlex>
      <md-card-content>
        <h2>LOGIN</h2>
        <md-input-container floatPlaceholder="auto">
          <input mdInput name="componentProperty" [(ngModel)]="username" type="text" required placeholder="Username">
        </md-input-container>
        <br>
        <md-input-container floatPlaceholder="auto">
          <input mdInput name="componentProperty" [(ngModel)]="password" type="password" required placeholder="Password">
        </md-input-container>
      </md-card-content>
      <md-card-actions align="center">
        <button md-raised-button color="primary" (click)="login(username, password)" >Login</button>
        <br><br>
      </md-card-actions>
    </md-card>
</div>
