<md-card>
  <md-card-content>
    <h2>{{contact.firstName + ' ' + contact.lastName}}</h2>
    <p>{{contact.streetAddress + ', ' + contact.city}}</p>
    <p>{{contact.phone}}</p>
  </md-card-content>
  <md-card-actions>
    <div>
      <button md-icon-button color="primary" (click)="editContact(contact)" md-tooltip="Edit Contact" mdTooltipPosition="above"><md-icon>create</md-icon></button>
      <button md-icon-button color="primary" (click)="deleteContact(contact)" md-tooltip="Delete Contact" mdTooltipPosition="above"><md-icon>delete</md-icon></button>
    </div>
    <div style="float: right">
      <button md-icon-button color="primary" (click)="showLocationOnMap(contact)" md-tooltip="Show address on map" mdTooltipPosition="above"><md-icon>room</md-icon></button>
    </div>
  </md-card-actions>
</md-card>

